
<header class="main-header">
  <div class="logo">🎬 MVT Reviews</div>

  <nav>
    <a href="/">Home</a>
    <a href="/actors">Actors</a>
    <a href="/top-rated">Top Rated</a>
    <a href="/about-contact">About</a>
  </nav>
</header>