<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Series - MVT Reviews</title>
        <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<h1>All Series</h1>

    <%- include('partials/header') %>
<div class="movie-list">
  
    <%- include('partials/movieGrid') %>
</div>
    <%- include('partials/paging') %>
    <%- include('partials/footer') %>

</body>
</html>