
/* =========================
   5. LAYOUT CONTAINER
========================= */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* =========================
   6. PAGE TITLE
========================= */
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

/* =========================
   7. FILTER SECTION
========================= */
 

select,
 button {
  flex: 1;
  min-width: 350px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  margin: 8px;
  color: #ffffff;
}

select {
  background: #1e293b;
}

 button {
  background: #2563eb;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

 button:hover {
  opacity: 0.9;
}

/* =========================
   RESPONSIVE DESIGN
========================= */

/* Tablets */
@media (max-width: 768px) {

  .container {
    padding: 15px;
  }

  h2 {
    font-size: 1.6rem;
  }
}
